# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# VS suo / user files
*.suo
*.csproj.user

#nuget packages
packages/

#publish profiles
PublishProfiles/
