<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="3b7cdf9c-a569-4bd2-863a-8051f5f06735"
            Publisher="CN=carlosff"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>GettingUserInfoFromAuthProviders</DisplayName>
    <PublisherDisplayName>carlosff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="GettingUserInfoFromAuthProviders.App">
        <VisualElements
            DisplayName="GettingUserInfoFromAuthProviders"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="GettingUserInfoFromAuthProviders"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>